@tailwind base;
@tailwind components;
@tailwind utilities;

.expand:hover {
  animation-name: expand;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

.expand {
  animation-name: contract;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

@keyframes expand {
  from {
    color: transparent;
    height: 1rem;
  }

  to {
    color: #080d0a;
    height: 2.5rem;
  }
}

@keyframes contract {
  from {
    color: #080d0a;
    height: 2.5rem;
  }

  to {
    color: transparent;
    height: 1rem;
  }
}
